<div class="col-12 wrapper">
  <div class="row">
    <a id="abilities"></a>
    <h2>
      <span class="lead">What</span><br>
      <span class="remaining">We Do</span>
    </h2>
  </div>
  <div class="row">
    <%= image_tag "quasar.svg", class: "quasar1" %>
    <%= image_tag "comet.svg", class: "comet" %>
    <%= image_tag "quasar.svg", class: "quasar3" %>
  </div>
  <div class="col-12 planet">
    <div class="row skills">
      <div class="col-6 database">
        <%= image_tag "abilities-database.svg", class: "abilities-database" %>
        <p>Database Design/Build</p>
      </div>
      <div class="col-6 search-engine">
        <%= image_tag "abilities-search-engine.svg", class: "abilities-search-engine" %>
        <p>Custom Search Engines</p>
      </div>
    </div>
    <div class="row skills">
      <div class="col-6 ecommerce">
        <%= image_tag "abilities-ecommerce.svg", class: "abilities-ecommerce" %>
        <p>Ecommerce</p>
      </div>
      <div class="col-6 web-and-mobile">
        <%= image_tag "abilities-web-and-mobile.svg", class: "abilities-web-and-mobile" %>
        <p>Web and Mobile Apps</p>
      </div>
    </div>
    <div class="row skills">
      <div class="col-6 cms">
        <%= image_tag "abilities-cms.svg", class: "abilities-cms" %>
        <p>Websites and CMS</p>
      </div>
      <div class="col-6 data-viz">
      <%= image_tag "abilities-data-viz.svg", class: "abilities-data-viz" %>
        <p>Reporting and<br>Data Visualization</p>
      </div>
    </div>
  </div>
</div>
