<div class="menu col-12">
  <nav>
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "Skills", "#abilities" %></li>
      <!-- <li><a href="#">Projects</a></li> -->
      <!-- <li><a href="#">Process</a></li> -->
      <li><%= link_to "Tools", "#tools" %></li>
      <li><%= link_to "Team", "#team" %></li>
      <li><%= link_to "Contact", "#contact" %></li>
    </ul>
  </nav>
</div>
