<div class="col-12">
  <div class="row">
    <a id="team"></a>
    <h2>
      <span class="remaining">About Us</span><br>
    </h2>
  </div>
  <div class="row moon">
    <div class="col-12 col-sm-4 angeleah">
      <%= image_tag "team-angeleah.svg", class: "astronaut" %>
      <div class="profile">
        <h3>Angeleah Daidone</h3>
        <div class="title">Full-stack Developer</div>
        <p>Hands-on development skills with JavaScript, Ruby on Rails, and PostgreSQL, using Test-Driven Development</p>
        <%= link_to(image_tag("linked-in-logo.png"), "https://www.linkedin.com/in/angeleahdaidone/", target: "_blank") %>
      </div>
    </div>
    <div class="col-12 col-sm-4 randy">
      <%= image_tag "team-randy.svg", class: "astronaut" %>
      <div class="profile">
        <h3>Randy Burgess</h3>
        <div class="title">Team Lead and Developer</div>
        <p>18+ years of CTO and hands-on development roles. Experience with full-stack coding, leadership, and classroom teaching scenarios.</p>
        <%= link_to(image_tag("linked-in-logo.png"), "https://www.linkedin.com/in/wrburgess/", target: "_blank") %>
      </div>
    </div>
    <div class="col-12 col-sm-4 megan">
      <%= image_tag "team-megan.svg", class: "astronaut" %>
      <div class="profile">
        <h3>Megan Schemmel</h3>
        <div class="title">Web Developer</div>
        <p>HTML, CSS, and Wordpress development</p>
        <%= link_to(image_tag("linked-in-logo.png"), "https://www.linkedin.com/in/meganschemmel/", target: "_blank") %>
      </div>
    </div>
  </div>
</div>
