<div class="col-12">
  <div class="row tools-header">
    <a id="tools"></a>
    <%= image_tag "tools-we-use-illustration.svg", class: "tools-we-use-illustration" %>
    <h2><span class="lead">Tools</span><br><span class="remaining">We Use</span></h2>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag "tool-circle.svg", class: "tool-circle" %>
      <p>JavaScript, React, React Native, Single Page Apps, Progressive Web Apps</p>
    </div>
    <div class="col-4">
      <%= image_tag "tool-circle.svg", class: "tool-circle" %>
      <p>Ruby on Rails, Node, Firebase Functions, AWS Lambda, Rails API</p>
    </div>
    <div class="col-4">
      <%= image_tag "tool-circle.svg", class: "tool-circle" %>
      <p>Custom CMS, Wordpress, Drupal</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag "tool-circle.svg", class: "tool-circle" %>
      <p>PostgreSQL, MySQL, SQL Server, MongoDB, Firebase Firestore</p>
    </div>
    <div class="col-4">
      <%= image_tag "tool-circle.svg", class: "tool-circle" %>
      <p>Elasticsearch, Sidekiq, Twilio, Slack API, Stripe API, Braintree API</p>
    </div>
    <div class="col-4">
      <%= image_tag "tool-circle.svg", class: "tool-circle" %>
      <p>Heroku, AWS, Firebase, WPEngine, Custom Hosting</p>
    </div>
  </div>
</div>
