---
title: All Aboard Apps | Application Design, Build, Launch, Maintain
---

<div class="container-fluid content-wrapper">
  <div class="menu row">
    <%= partial "partials/menu" %>
  </div>
  <div class="headline row">
    <%= partial "partials/headline" %>
  </div><!-- /.headline -->
  <div class="deco row">
    <div class="col-6">
      <%= image_tag "sun.svg", class: "sun" %>
      <%= image_tag "quasar.svg", class: "quasar" %>
    </div>
    <div class="col-6">
      <%= image_tag "comet.svg", class: "comet" %>
    </div>
  </div><!-- /.deco -->
  <div class="abilities row">
    <%= partial "partials/abilities" %>
  </div><!-- /.abilities -->
  <div class="projects row">
    <div class="col-12">
    </div>
  </div><!-- /.projects -->
  <div class="process row">
    <div class="col-12">
    </div>
  </div><!-- /.process -->
  <div class="tools row">
    <%= partial "partials/tools" %>
  </div><!-- /.tools -->
  <div class="team row">
    <%= partial "partials/team" %>
  </div><!-- /.team -->
  <div class="contact row">
    <%= partial "partials/contact" %>
  </div><!-- /.contact -->
  <div class="footer row">
    <%= partial "partials/footer" %>
  </div><!-- /.footer -->
</div><!-- /.container-fluid .content-wrapper -->
